
#soloButton,
#multiplayerButton {
    -fx-background-image: url("../images/pixelborder.png");
    -fx-background-color: white;
    -fx-background-size: stretch;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-padding: 10 20 10 20;
}
#soloButton:hover,
#multiplayerButton:hover {
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-padding: 10 20 10 20;
    -fx-background-color: lightgray;
    -fx-scale-y: -1;
}
#soloText:hover,
#multiplayerText:hover{
    -fx-font-size: 40px;
}
#bulbView{
    -fx-image: url("../icons/giflight.gif");
}
#questionMark{
    -fx-image: url("../icons/help.png");
}