.list-cell:odd{
    -fx-background-color: #C3DBED;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.list-cell:even{
    -fx-background-color: #60A1D1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}