.table-view{
    -fx-base: A9CCE3;
    -fx-background-color: A9CCE3;
    -fx-font-family: Monospaced;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header{
    -fx-background-color: #60A1D1;
    -fx-border-color: black;
}
.table-row-cell{
    -fx-border-color: black;
}
.table-row-cell:odd{
    -fx-background-color: #C3DBED;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #87B8DC;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .scroll-bar:vertical .thumb{
    -fx-background-color: linear-gradient(to bottom, #C3DBED, #87B8DC);
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background{
    -fx-background-color: transparent;
}
.table-view .filler{
    -fx-background-color: #A9CCE3;
}
