.table-view{
    -fx-background-color: A9CCE3;
    -fx-font-family: Monospaced;
}

.table-view .column-header{
    -fx-background-color: #9BC4E2;
}
.table-row-cell:odd{
    -fx-background-color: #C3DBED;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #60A1D1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:horizontal .thumb{
    -fx-background-color: linear-gradient(to right, #C3DBED, #60A1D1);
}

.table-view .scroll-bar:vertical .track,
.table-view .scroll-bar:vertical .thumb{
    -fx-background-color: linear-gradient(to bottom, #C3DBED, #60A1D1);
}


.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .corner{
    -fx-background-color: transparent;
}